

@model RegistrationDetails

    <div class="form-group">
        @Html.LabelFor(x => x.Email, new { @Class = "control-label" })
        @Html.TextBoxFor(x => x.Email, new { @Class = "form-control" })
        @Html.ValidationMessageFor(x => x.Email, "", new { @Class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Password, new { @Class = "control-label" })
        @Html.PasswordFor(x => x.Password, new { @Class = "form-control" })
        @Html.ValidationMessageFor(x => x.Password, "", new { @Class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.ConfirmPassword, "Confirm Password", new { @Class = "control-label" })
        @Html.PasswordFor(x => x.ConfirmPassword, new { @Class = "form-control" })
        @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @Class = "text-danger" })
    </div>

    <div>
        @foreach (var authError in Model.RegistrationErrors)
        {
            <div class="row">
                <div class="col-md-12">
                    <span class="text-danger">@Html.DisplayFor(x => authError)</span>
                </div>
            </div>
        }
    </div>