@{
    ViewData["Title"] = "Home Page";

}
@model LoginDetails
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-5"> Please log in to continue </h2>
</div>

<div class="container" style="width:400px; height:300px; border-style:solid; border-color:goldenrod; border-width:1px">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
    <div class="mt-3">
        <div class="form-group">
            @Html.LabelFor(x => x.Email, new { @Class = "control-label" })
            @Html.TextBoxFor(x => x.Email, new { @Class = "form-control" })
            @Html.ValidationMessageFor(x => x.Email, "", new { @Class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Password, new { @Class = "control-label" })
            @Html.TextBoxFor(x => x.Password, new { @Class = "form-control", Type = "Password" })
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        @Html.ValidationMessage("Error", new { @Class = "text-danger" })
        <br />
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <button id="btnIDLogin" type="submit" class="btn btn-danger  btn-sm btnSubmit ">
                        <i class="fas fa-sign-in-alt"></i> Login
                    </button>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <p style="color:white; font-weight:bolder">
                    Don't have an account?  <a asp-action="Register" asp-controller="home" data-toggle="modal" data-target="#modalRegister">&nbsp;&nbsp;&nbsp;Register here</a>
                </p>

            </div>
        </div>
    </div>
    }

    @using (Html.BeginForm("Register", "Home", FormMethod.Post))
    {
        <div class="modal fade" id="modalRegister">
            <div class="modal-dialog modal-dialog-centered" role="dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-image: linear-gradient(to bottom,#ffd89b, #19547b);">
                        <h6 class="modal-title" id="exampleModalLabel">   <i class="fas fa-box">&nbsp;</i>Registration details</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="background-image: linear-gradient(to bottom, #4B79A1, #283E51);">
                        @await Html.PartialAsync("/Views/Home/_Register.cshtml", new RegistrationDetails());
                    </div>
                    <div class="modal-footer bg-modal-footer" style="background-image: linear-gradient(to bottom,#ffd89b, #19547b);">
                        <button type="button" class="btn-dark btn-sm  button-cancel" data-dismiss="modal">CANCEL</button>
                        <button id="btnIDCancel" type="submit" class="btn btn-danger  btn-sm btnSubmit float-right">REGISTER</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}