
@model CategoryViewModel

<div class="container">
    @Html.HiddenFor(x=>x.CategoryItem.CategoryID)
    <div class="row">
        <div class="col">
            @Html.LabelFor(x => x.CategoryItem.Name, "Category Name:", new { @Class = "col-form-label" })
        </div>
        <div class="col">
            @Html.TextBoxFor(x => x.CategoryItem.Name, new { @Class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            @Html.LabelFor(x => x.CategoryItem.Description, "Category Description:", new { @Class = "col-form-label" })
            @Html.TextAreaFor(x => x.CategoryItem.Description, new { @Class = "form-control" })
        </div>

    </div>
    <br />
    <div class="row">
        <div class="custom-file ">
            <input asp-for="@Model.ImageFile" class="custom-file-input" type="file" accept="image/*" />
            <label class="custom-file-label">Upload Image<strong>...</strong></label>
        </div>
    </div>
    <br />
</div>


